a {
  text-decoration: none;
}

body {
  width: 100%;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.button-right {
  display: flex;
  justify-content: flex-end;
}

#recaptcha-container {
  margin: 20px;
}

.PhoneInputInput {
  height: 50px;
  border-radius: 8px;
}

.PhoneInput {
  --PhoneInputCountryFlag-height: 33px;
}